<div class="container">
    @if(hasLoadedNowMovies){
    @if(nowMovies){
    <div class="m-5">
        <div style="display: flex; flex-direction: row; justify-content:space-between;">
            <div class="mb-5">
                <h2 class="fw-bold text-success">Now playing</h2>
            </div>
            <div>
                <form [formGroup]="selectForm">
                    <select class="form-select" aria-label="selectedRegion" formControlName="selectedRegion"
                        id="selectedRegion" (change)="onSelection($event)">
                        <option disabled>Select region</option>
                        <option value="gr" [class.selected]="selectForm.get('selectedRegion')?.value === 'gr'">Greece
                        </option>
                        <option value="gb" [class.selected]="selectForm.get('selectedRegion')?.value === 'gb'">United
                            Kingdom</option>
                        <option value="de" [class.selected]="selectForm.get('selectedRegion')?.value === 'de'">Germany
                        </option>
                        <option value="us" [class.selected]="selectForm.get('selectedRegion')?.value === 'us'">USA
                        </option>
                        <option value="" [class.selected]="selectForm.get('selectedRegion')?.value === ''">Globally
                        </option>
                    </select>
                </form>
            </div>
        </div>
        <h6 class="mb-5"><span class="text-success fw-bold fs-5">{{nowMovies.total_results}} </span>movies playing from:
            <span class="text-success fst-italic fs-5">{{nowMovies.dates.minimum}}</span> to <span
                class="text-success fst-italic fs-5">
                {{nowMovies.dates.maximum}}</span>
        </h6>
        <h6 class="text-end text-secondary fst-italic">Displaying: <span
                class="fw-bold text-dark">{{startIndex+1}}</span> to <span
                class="fw-bold text-dark">{{endIndex+1}}</span></h6>
        <form [formGroup]="collectionsForm" (submit)="onSelect()">
            <div class="text-end m-2 mt-5">
                <button type="submit" class="btn btn-success btn-sm ms-4" data-bs-toggle="modal"
                    data-bs-target="#collectionsMultiple" [disabled]=collectionsForm.invalid
                    title="add multiple movies to collection"> Add to
                    collection</button>
                <app-multiple-ids-popup [idArray]="selectedMoviesId" />
            </div>
            <div class="row card-container">
                <div class="col-3 m-3 mx-auto text-center" *ngFor="let nowMovie of nowMovies.results">
                    <div class="card h-100 border border-success rounded rounded-3" title="click for details">
                        <div>
                            <img [src]='"https://image.tmdb.org/t/p/w300"+(nowMovie.poster_path)'
                                onerror="this.src='../assets/images/no-poster.png';" class="card-img-top"
                                alt="{{ nowMovie.title }} poster path" placeholder (click)="moviePage(nowMovie.id)"
                                title="click for details">
                            <div class="form-check m-2"
                                style="display: flex; flex-direction: row; justify-content:flex-end;">
                                <input class="form-check-input" formControlName="movieChecked" type="checkbox"
                                    [value]="nowMovie.id" id="movieChecked-{{nowMovie.id}}" (change)="onChange($event)"
                                    title="select to add to collection">
                                <label class="form-check-label text-success" for="movieChecked-{{nowMovie.id}}">
                                    Add to collection
                                </label>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content:flex-end;">
                                <button class="btn btn-sm btn-success col-sm-2 me-1 mt-1" type="button"
                                    data-bs-toggle="modal" data-bs-target="#collections"
                                    (click)="addToCollection(nowMovie.id)" title="add to collection"><i
                                        class="bi bi-bookmark-plus"></i></button>
                                <app-collections-popup [id]="selectedId" />
                            </div>
                        </div>
                        <div class="card-body"
                            style="display: flex; flex-direction: column; justify-content:space-between;">
                            <div class="mb-3">
                                <h5 class="card-title text-success fw-bold">{{ nowMovie.title }}</h5>
                                <p class="card-text "><span class="text-success">Average vote :</span>
                                    {{nowMovie.vote_average}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="mt-2 mx-auto" aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="previousPage()">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pages">
                            @if(page === -1){
                            <span class="mx-1 text-success">. . .</span>
                            }
                            @if(page !== -1){
                        <li class="page-item" [class.active]="currentPage === page">
                            <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                        </li>
                        }
                        </li>
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link" (click)="nextPage()">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
    </div>
    }
    }@else{
    <div class="py-5 m-5">
        <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
        <br>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden ">Loading...</span>
            </div>
        </div>
    </div>
    }
</div>