<header class="sticky-top p-3 bg-dark bg-gradient text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center"
      style="display: flex; flex-direction: row; justify-content:space-between;">
      <div>
        <a class="nav-link" routerLink="home" routerLinkActive="active"
          class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-3" width="40" height="32" role="img" aria-label="camera-reels-fill" fill="currentColor">
            <use xlink:href="#camera-reels-fill" />
          </svg>
          the movie db
        </a>
      </div>
      <div style="display: flex; flex-direction: row; justify-content:flex-end;">
        <div class="btn-group me-3">
          <button type="button" class="btn btn-success">Movies</button>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="now-playing" routerLinkActive="active">Now Playing</a></li>
            <li><a class="dropdown-item" routerLink="popular" routerLinkActive="active">Popular</a></li>
            <li><a class="dropdown-item" routerLink="trending" routerLinkActive="active">Trending</a></li>
            <li><a class="dropdown-item" routerLink="top-rated" routerLinkActive="active">Top Rated</a></li>
            <li><a class="dropdown-item" routerLink="upcoming" routerLinkActive="active">Upcoming</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="search" routerLinkActive="active">Search movies <i
                  class="bi bi-search ms-2"></i></a></li>
          </ul>
        </div>
        <a class="nav-link" routerLink="collections" routerLinkActive="active"
          class="d-flex mb-2 mb-lg-0 text-white text-decoration-none align-items-center"><i
            class="bi bi-bookmarks-fill me-1"></i>Collections</a>
      </div>
    </div>
  </div>
</header>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="camera-reels-fill" viewBox="0 0 16 16">
    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
    <path
      d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
  </symbol>
</svg>