/* scroll */
@media (min-width: 576px) {
    .card-group.card-group-scroll {
      overflow-x: auto;
      flex-wrap: nowrap;
    }
  }
  
  .card-group.card-group-scroll>.card {
    flex-basis: 35%;
  }
  
  ::-webkit-scrollbar {
    height: 12px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #adb5bd;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #495057;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #198754;
  }
 
.background-container {
  position: absolute;
  top: 10vh;
  left: 0vh;
  right: 0vh;
  height: 60vh;
  /* background-image: url('/../assets/images/c.jpg'); */
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  animation: backgroundAnimation 15s infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-image: url('/../assets/images/c.jpg');
  }
  25% {
    background-image: url('/../assets/images/c.jpg');
  }
  25.01% {
    background-image: url('/../assets/images/2.jpeg');
  }
  50% {
    background-image: url('/../assets/images/2.jpeg');
  }
  50.01% {
    background-image: url('/../assets/images/b.jpg');
  }
  75% {
    background-image: url('/../assets/images/b.jpg');
  }
  75.01% {
    background-image: url('/../assets/images/1.jpeg');
  }
  100% {
    background-image: url('/../assets/images/1.jpeg');
  }
}

.first-element {
  position: relative;
  height: 60vh;
  z-index: 1;
}
.first-element h1,
.first-element h2{
    font-weight: 800;
} 

.errors p{
  background-color: #4e4e4e;
}
.outline{
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  border-color: #606163;
}
.searchForm  .ng-pristine:not(form) {
  border-left: 6px solid grey;
}

.searchForm  .ng-touched:not(form),
.searchForm  .ng-valid:not(form) {
  border-left: 6px solid #a94442;
}

.searchForm  ng-valid,
.searchForm  .ng-valid:not(form) {
  border-left: 6px solid #42A948;
}