<div class="container pb-2">
    <div class="background-container"></div>
    <div class="first-element">
        <h1 class="mx-5 mt-5 pt-5">Welcome.</h1>
        <h2 class="mx-5">Millions of movies to discover. Explore now.</h2>
        <div class="search mx-5">
            <!-- <h1 class="mt-3 text-center text-success">Search movies:</h1> -->
            <form [formGroup]="searchForm" (submit)="onSubmit()" class="searchForm mt-5 text-center d-flex">
                <input formControlName="searchData" id="search" type="search" class="form-control rounded rounded-4"
                    placeholder="Search Movie" aria-label="Search">
                <button type="submit" class="btn btn-dark rounded rounded-5 ms-2" [disabled]="!searchForm.valid">
                    <svg class="bi" width="32" height="32" role="img" aria-label="bi-search" fill="currentColor">
                        <use xlink:href="#bi-search" />
                    </svg>
                </button>
            </form>
            <div class="errors mb-5 mt-2" style="display: flex; flex-direction: row; justify-content:center;">
                <!-- error message when the input isn't alphanumeric -->
                @if(searchForm.get('searchData')?.hasError('pattern') && searchForm.get('searchData')?.touched){
                <p class="px-2">
                    <span class="text-danger fst-italic me-1">Input must be </span>
                    <span class="text-danger fw-bold">alphanumeric.</span>
                </p>
                }
                <!-- error message when the input is clicked but value isn't typed -->
                @if(searchForm.get('searchData')?.hasError('required') && searchForm.get('searchData')?.touched){
                <p class="px-2">
                    <span class="text-danger fst-italic me-1">Input is </span>
                    <span class="text-danger fw-bold">required.</span>
                </p>
                }
                <!-- error message when the input is less than 3 characters -->
                @if(searchForm.get('searchData')?.hasError('minlength') && searchForm.get('searchData')?.touched){
                <p class="px-2">
                    <span class="text-danger fst-italic me-1">Input must be </span>
                    <span class="text-danger fw-bold me-1">
                        minimum {{searchForm.get('searchData')?.errors?.['minlength'].requiredLength }} characters.
                    </span>
                </p>
                }
            </div>
        </div>
    </div>
    <div class="genres mb-5">
        @if(hasLoadedGenres){
        @if(genres){
        <h4 class="text-success">Genres</h4>
        <div class="card-group card-group-scroll">
            @for (genre of genres.genres; track $index){
            <div class="card border border-success rounded rounded-3 m-2"
                (click)="getGenreMovies(genre.name,  genre.id)" title="click for details" style="max-width: 180px">
                <div class="card-body text-center shadow">
                    <h5 class="card-title fw-bold text-success">{{genre.name}}</h5>
                </div>
            </div>
            }
        </div>
        }
        }@else{
        <div class="m-5">
            <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="now-playing my-5">
        @if(hasLoadedNowMovies){
        @if(nowMovies){
        <div style="display: flex; flex-direction: row; justify-content:space-between;">
            <div>
                <h2 class="text-success">Now playing</h2>
            </div>
            <div>
                <form [formGroup]="selectForm">
                    <select class="form-select" aria-label="selectedRegion" formControlName="selectedRegion"
                        id="selectedRegion" (change)="onSelection($event)">
                        <option disabled>Select region</option>
                        <option value="gr" selected>Greece</option>
                        <option value="gb">United Kingdom</option>
                        <option value="de">Germany</option>
                        <option value="us">USA</option>
                        <option value="">Globally</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="ms-5 my-3" style="display: flex; flex-direction:row; justify-content: space-between;">
            <h6>
                <span class="text-success fw-bold">{{nowMovies.total_results}}</span> movies playing from: <span
                    class="text-success fst-italic">{{nowMovies.dates.minimum}}</span> to <span
                    class="text-success fst-italic">{{nowMovies.dates.maximum}}</span>
            </h6>
            <button class="btn btn-sm btn-outline-success" (click)="showAll(selectForm.get('selectedRegion')?.value)">
                Show All</button>
        </div>
        <div class="card-group card-group-scroll">
            @for (nowMovie of nowMovies.results; track $index){
            <div class="card border border-success rounded rounded-3 m-2" title="click for details"
                style="max-width:fit-content">
                <div class="card-body text-center shadow" style="width:max-content">
                    <img [src]='"https://image.tmdb.org/t/p/w300"+(nowMovie.poster_path)'
                        onerror="this.src='../assets/images/no-poster.png';" class="card-img-top"
                        alt="{{ nowMovie.title }} poster path" placeholder style="height:300px ; width:fit-content"
                        (click)="moviePage(nowMovie.id)" title="click for details">
                    <h5 class="card-title text-success fw-bold" style="width:250px">{{nowMovie.title }}</h5>
                    <p class="card-text "><span class="text-success">Average vote :</span>{{nowMovie.vote_average}}</p>
                    <!-- <p>id: {{ nowMovie.id}}</p> -->
                    <!-- <button class="btn btn-sm col-sm-12 btn-success" type="button" (click)="onMovieClick(movie.id)">{{
                movie.title }}</button> -->
                </div>
            </div>
            }
        </div>
        }
        }@else{
        <div class="py-5 m-5">
            <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="popular my-5">
        @if(hasLoadedPopular){
        @if(popular){
        <div class="mb-3" style="display:flex;flex-direction: row; justify-content:space-between;">
            <h2 class="text-success">Popular</h2>
            <button class="btn btn-sm btn-outline-success" routerLink="/popular" routerLinkActive="active">
                Show All</button>
        </div>
        <div class="card-group card-group-scroll">
            @for (movie of popular.results; track $index){
            <div class="card border border-success rounded rounded-3 m-2" title="click for details"
                style="max-width:fit-content">
                <div class="card-body text-center shadow" style="width:max-content">
                    <img [src]='"https://image.tmdb.org/t/p/w300"+(movie.poster_path)'
                        onerror="this.src='../assets/images/no-poster.png';" class="card-img-top"
                        alt="{{ movie.title }} poster path" placeholder style="height:300px ; width:fit-content"
                        (click)="moviePage(movie.id)" title="click for details">
                    <h5 class="card-title text-success fw-bold" style="width:250px">{{movie.title }}</h5>
                    <p class="card-text "><span class="text-success">Average vote :</span>{{movie.vote_average}}</p>
                    <!-- <p>id: {{ nowMovie.id}}</p> -->
                    <!-- <button class="btn btn-sm col-sm-12 btn-success" type="button" (click)="onMovieClick(movie.id)">{{
                        movie.title }}</button> -->
                </div>
            </div>
            }
        </div>
        }
        }@else{
        <div class="py-5 m-5">
            <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="trending my-5">
        @if(hasLoadedTrending){
        @if(trending){
        <div class="mb-3" style="display: flex; flex-direction: row; justify-content:space-between;">
            <div class="me-5">
                <h2 class="text-success">Trending</h2>
            </div>
            <div class="me-auto">
                <form [formGroup]="timeForm">
                    <div class="form-group">
                        <div class="outline" style="display: flex; flex-direction: row; justify-content:flex-end;">
                            <button type="button"
                                class="form-control btn btn-sm {{buttonDay ? 'btn-outline-secondary' : ''}} rounded rounded-5"
                                [class.active]="buttonDay" (click)="onClickTime('day')" name="time" id="time">
                                Today
                            </button>
                            <button type="button"
                                class="form-control btn btn-sm {{buttonWeek ? 'btn-outline-secondary' : ''}} rounded rounded-5"
                                [class.active]="buttonWeek" (click)="onClickTime('week')" name="time" id="time">
                                This Week
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="my-1" style="display:flex;flex-direction: row; justify-content:flex-end;">
                <button class="btn btn-sm btn-outline-success" (click)="showTrending(timeForm.get('time')?.value)">
                    Show All</button>
            </div>
        </div>
        <div class="card-group card-group-scroll">
            @for (trend of trending.results; track $index){
            <div class="card border border-success rounded rounded-3 m-2" title="click for details"
                style="max-width:fit-content">
                <div class="card-body text-center shadow" style="width:max-content">
                    <img [src]='"https://image.tmdb.org/t/p/w300"+(trend.poster_path)'
                        onerror="this.src='../assets/images/no-poster.png';" class="card-img-top"
                        alt="{{ trend.title }} poster path" placeholder style="height:300px ; width:fit-content"
                        (click)="moviePage(trend.id)" title="click for details">
                    <h5 class="card-title text-success fw-bold" style="width:250px">{{trend.title }}</h5>
                    <p class="card-text "><span class="text-success">Average vote :</span>{{trend.vote_average}}</p>
                    <!-- <p>id: {{ nowMovie.id}}</p> -->
                    <!-- <button class="btn btn-sm col-sm-12 btn-success" type="button" (click)="onMovieClick(movie.id)">{{
                        movie.title }}</button> -->
                </div>
            </div>
            }
        </div>
        }
        }@else{
        <div class="py-5 m-5">
            <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="top-rated my-5">
        @if(hasLoadedTop){
        @if(top){
        <div class="mb-3" style="display:flex;flex-direction: row; justify-content:space-between;">
            <h2 class="text-success">Top Rated</h2>
            <button class="btn btn-sm btn-outline-success" routerLink="/top-rated" routerLinkActive="active">
                Show All</button>
        </div>
        <div class="card-group card-group-scroll">
            @for (movie of top.results; track $index){
            <div class="card border border-success rounded rounded-3 m-2" title="click for details"
                style="max-width:fit-content">
                <div class="card-body text-center shadow" style="width:max-content">
                    <img [src]='"https://image.tmdb.org/t/p/w300"+(movie.poster_path)'
                        onerror="this.src='../assets/images/no-poster.png';" class="card-img-top"
                        alt="{{ movie.title }} poster path" placeholder style="height:300px ; width:fit-content"
                        (click)="moviePage(movie.id)" title="click for details">
                    <h5 class="card-title text-success fw-bold" style="width:250px">{{movie.title }}</h5>
                    <p class="card-text "><span class="text-success">Average vote :</span>{{movie.vote_average}}</p>
                    <!-- <p>id: {{ nowMovie.id}}</p> -->
                    <!-- <button class="btn btn-sm col-sm-12 btn-success" type="button" (click)="onMovieClick(movie.id)">{{
                        movie.title }}</button> -->
                </div>
            </div>
            }
        </div>
        }
        }@else{
        <div class="py-5 m-5">
            <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="upcoming my-5">
        @if(hasLoadedUpcoming){
        @if(upcoming){
        <div style="display: flex; flex-direction: row; justify-content:space-between;">
            <div>
                <h2 class="text-success">Upcoming</h2>
            </div>
            <div>
                <form [formGroup]="select2Form">
                    <select class="form-select" aria-label="selectedRegion2" formControlName="selectedRegion2"
                        id="selectedRegion2" (change)="onSelection2($event)">
                        <option disabled>Select region</option>
                        <option value="gr" selected>Greece</option>
                        <option value="gb">United Kingdom</option>
                        <option value="de">Germany</option>
                        <option value="us">USA</option>
                        <option value="">Globally</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="ms-5 my-3" style="display: flex; flex-direction:row; justify-content: space-between;">
            <h6>
                <span class="text-success fw-bold">{{upcoming.total_results}}</span> movies playing from: <span
                    class="text-success fst-italic">{{upcoming.dates.minimum}}</span> to <span
                    class="text-success fst-italic">{{upcoming.dates.maximum}}</span>
            </h6>
            <button class="btn btn-sm btn-outline-success"
                (click)="showAll2(select2Form.get('selectedRegion2')?.value)">
                Show All</button>
        </div>
        <div class="card-group card-group-scroll">
            @for (movie of upcoming.results; track $index){
            <div class="card border border-success rounded rounded-3 m-2" title="click for details"
                style="max-width:fit-content">
                <div class="card-body text-center shadow" style="width:max-content">
                    <img [src]='"https://image.tmdb.org/t/p/w300"+(movie.poster_path)'
                        onerror="this.src='../assets/images/no-poster.png';" class="card-img-top"
                        alt="{{ movie.title }} poster path" placeholder style="height:300px ; width:fit-content"
                        (click)="moviePage(movie.id)" title="click for details">
                    <h5 class="card-title text-success fw-bold" style="width:250px">{{movie.title }}</h5>
                    <p class="card-text "><span class="text-success">Average vote :</span>{{movie.vote_average}}</p>
                    <!-- <p>id: {{ nowMovie.id}}</p> -->
                    <!-- <button class="btn btn-sm col-sm-12 btn-success" type="button" (click)="onMovieClick(movie.id)">{{
                movie.title }}</button> -->
                </div>
            </div>
            }
        </div>
        }
        }@else{
        <div class="py-5 m-5">
            <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Results ..</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success align-center" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bi-search" viewBox="0 0 16 16">
        <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </symbol>
</svg>